# Operating System Files
.DS_Store
Thumbs.db

# IDE and Editor Files
.idea/
.vscode/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/

# Python specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-arg-that-is-not-what-i-meant.log
*.egg-info/
.coverage
.pytest_cache/

# Terraform specific ignores
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.out
.terraform.lock.hcl
crash.log
override.tf
override_*.tf
*.tfvars
*.tfvars.json
*.tf.json

# Logs and temporary files
*.log
*.tmp
tmp/
*.swp # vim swap files

# Custom ignores for this project based on current setup and status
secrets/
GEMINI.md

# Specific log files found in the status output which should be ignored
terraform-k8s/grafana_logs.txt
terraform-k8s/spark_logs.txt
terraform-k8s/spark_crash_logs.txt

# Large data files
spark/stock-market-tweets-data.parquet

# Deleted files that might reappear (optional, but good for completeness if they are temporary output)
docker-compose.yml
schema.cql
spark/tweet_process.py
